//custom modal overlay for all modals 
//to use this overlay, add the following
// @extend %modal-custom-overlay;
// to the modal's top parent class
%modal-custom-overlay {
    background: #5C698399 !important;
    backdrop-filter: blur(6px) !important;
  
    .modal-content {
      box-shadow: 0px 4px 14px 0px #D5EAFF !important;
      border: none !important;
    }
}

.modal-radius{
    border-radius: 16px !important;
  }

  .button-radius{
    border-radius: 16px !important;
  }

  .input-radius{
    border-radius: 8px !important;
  }

  .nav-radius{
    border-radius: 8px !important;
  }


    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #bcc9e3;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #bcc9e3;
    }


